<p id="notice"><%= notice %></p>

<h1>Hons</h1>

<table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @hons.each do |hon| %>
        <tr>
          <td><%= hon.title %></td>
          <td><%= hon.author %></td>
          <td class="text-right">
            <%= link_to 'Review', new_hon_review_path(hon), :class => 'btn btn-link btn-xs' %>
            <%= link_to 'Edit', edit_hon_path(hon), :class => 'btn btn-link btn-xs' %>
            <%= link_to 'Delete', hon_path(hon), :class => 'btn btn-xs btn-danger',
                            :method => :delete, :data => { :confirm => 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
 <div>
  <%= paginate @hons %>
</div>
  <%= link_to 'New hon', new_hon_path, :class => 'btn btn-primary' %>
